ERROR_LOG
DEBUG_LOG
imagecache/
images/
.scannerwork/

# Sonar specifics
.scannerwork/
sonar-project.properties

# Prevent local collection and configuration from being uploaded to git
localsiteconfig.php
*.xml
*.xml.gz
.env
